@import "../../../../../variables";

mat-card {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-property: border-color, box-shadow;
  &.mainclass {
    background-color: $table-color;
  }
  &.class {
    background-color: $class-color;
  }
  &.datatype {
    background-color: $datatype-color;
  }
  &.referanse, &.enumeration { // Enumeration is deprecated
    background-color: $enumeration-color;
  }
  &.codelist {  // Codelist is deprecated
    background-color: $codelist-color;
  }
  &.selected {
    border-color: darken($border-color, 20%);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }
  margin: 1rem 0;
}

mat-card-header {
  /deep/ .mat-card-header-text {
    width: 100%;
  }
  mat-card-subtitle:first-child {
    margin-bottom: 0.4rem;
    margin-top: -1rem;
  }
  [mat-card-avatar] {
    margin-top: 0.4rem;
  }
  mat-card-title {
    mat-chip {
      display: inline;
    }
    .type {
      font-weight: normal;
      font-style: italic;
      font-size: 0.7em;
      text-transform: uppercase;
      float: right;
    }
  }

  h3 {
    margin: 0;
  }
}

.subtypes {
  margin-top: -1.3rem !important;
  margin-bottom: 1rem;
  margin-left: 2rem;
  mat-chip-list {
    display: inline;
    /deep/ .mat-chip-list-wrapper {
      display: inline;
    }
    mat-chip {
      padding: 1px 8px;
      margin-left: 0;
      margin-right: 5px;
    }
  }
}

section h3 {
  margin-bottom: 0;
}

mat-card-content /deep/ {
  h1 { font-size: 120%; }
  h2 { font-size: 110%; }
  h3 { font-size: 105%; }
}

// Table styling
table {
  .toggleDetailBody {
    display: none;
    @media (min-width: 970px) {
      display: block;
    }
  }
  .toggleMobileDetails {
    display: block;
    @media (min-width: 970px) {
      display: none;
    }
  }
  .dropdown {
    $width: 20px;
    width: $width;
    max-width: $width;
  }
  .dropdown-row {
    display: none;
    @media (max-width: 970px) {
      display: table-row;
    }
  }
  .type, .name {
    $width: 180px;
    width: $width;
    max-width: $width;
  }
  .multiplicity {
    $width: 80px;
    width: $width;
    max-width: $width;
  }
  .description {
    @media (max-width: 970px) {
      display: none;
    }
  }
  tbody.inherited {
    color: rgba($text-color, 0.7);
    font-style: italic;
  }
}

// Details styling
/deep/ {
  .details {
    border-radius: $extra-rounded;
    padding: 0.5rem;
    background: $details-background;
    summary, header {
      cursor: pointer;
      &:focus, &:active {
        outline: none;
      }
    }
  }
  app-details .details {
    background: rgba(white, 0.5);
  }
}

td.details {
  border-radius: 5px 0 5px 5px;
}
.hasDetails {
  background: transparent;
  @media (max-width: 970px) {
    background: $details-background;
    cursor: pointer;
    &.isOpen {
      border-radius: 5px 5px 0 0;
    }
  }
}
.hasDetailsBody {
  @media (min-width: 970px) {
    background: $details-background;
    cursor: pointer;
    &.isOpen {
      border-radius: 5px 5px 0 0;
    }
  }
}
