@import "../../../../../variables";

md-card {
  transition-duration: 0.5s;
  transition-timing-function: ease-in-out;
  transition-property: border-color, box-shadow;
  &.class {
    background-color: $table-color;
  }
  &.datatype {
    background-color: $datatype-color;
  }
  &.enumeration {
    background-color: $enumeration-color;
  }
  &.codelist {
    background-color: $codelist-color;
  }
  &.selected {
    border-color: darken($border-color, 20%);
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
  }
  margin: 1rem 0;
}

md-card-header {
  /deep/ .md-card-header-text {
    width: 100%;
  }
  md-card-title {
    md-chip {
      display: inline;
    }
    .type {
      font-weight: normal;
      font-style: italic;
      font-size: 0.7em;
      text-transform: uppercase;
      float: right;
    }
  }

  h3 {
    margin: 0;
  }
}

.subtypes {
  margin-top: -1.3rem;
  margin-bottom: 1rem;
  margin-left: 2.7rem;
}

md-chip-list {
  display: inline;
  /deep/ .md-chip-list-wrapper {
    display: inline;
  }
  md-chip {
    padding: 1px 8px;
  }
}

table {
  .dropdown {
    $width: 20px;
    width: $width;
    max-width: $width;
    display: none;
    @media (max-width: 970px) {
      display: table-cell;
    }
  }
  .dropdown-row {
    display: none;
    @media (max-width: 970px) {
      display: table-row;
    }
  }
  .type, .name {
    $width: 180px;
    width: $width;
    max-width: $width;
  }
  .multiplicity {
    $width: 80px;
    width: $width;
    max-width: $width;
  }
  .description {
    @media (max-width: 970px) {
      display: none;
    }
  }
}

md-card-content /deep/ {
  h1 { font-size: 120%; }
  h2 { font-size: 110%; }
  h3 { font-size: 105%; }
}

td.details {
  border-radius: 5px 0 5px 5px;
}
.hasDetails {
  cursor: pointer;
  &.isOpen {
    border-radius: 5px 5px 0 0;
  }
}

