@import 'variables';
svg {
  g.stereotype {
    cursor: pointer;
    > rect {
      fill-opacity: 0;
      stroke: $border-color;
      stroke-width: 2;
      stroke-dasharray: 5, 5;
    }
  }

  g.class {
    > rect {
      fill: white;
      fill-opacity: 1;
      stroke: $border-color;
      stroke-width: 2;
    }
    &.table > rect {
      fill: $table-color;
    }
    &.datatype > rect {
      fill: $datatype-color;
    }
    &.enumeration > rect {
      fill: $enumeration-color;
    }
    &.codelist > rect {
      fill: $codelist-color;
    }
  }
}
