@import 'variables';
svg.diagram {
  width: 100%;
  height: 100%;
  g > rect {
    stroke-width: 1;
  }

  g.stereotype, g.package {
    > rect {
      stroke: $border-color;
    }
    &:hover > rect {
      stroke-width: 2;
      stroke: darken($border-color, 10%);
    }
  }
  g.stereotype {
    > rect {
      stroke-dasharray: 10, 5;
      fill-opacity: 0;
    }
    > text {
      font-weight: bold;
    }
  }
  g.package > rect {
    fill: rgba(0,0,0,0.03);
    fill-opacity: 1;
    stroke-dasharray: 5, 5;
  }
  text {
    fill-opacity: 1;
    fill: $text-color;
    stroke-dasharray: none;
    stroke-opacity: 0;
  }

  g.element {
    cursor: pointer;
    > rect {
      fill: white;
      fill-opacity: 1;
      stroke: $border-color;
    }
    &:hover > rect {
      stroke-width: 2;
      stroke: darken($border-color, 10%);
    }
    &.class > rect {
      fill: $table-color;
    }
    &.datatype > rect {
      fill: $datatype-color;
    }
    &.enumeration > rect {
      fill: $enumeration-color;
    }
    &.codelist > rect {
      fill: $codelist-color;
    }
    &.mainclass {
      > text {
        font-weight: bold;
        font-size: 110%;
      }
      > rect {
        stroke: darken($border-color, 30%);
      }
    }
  }

  $source-color: #00ff00;
  $target-color: #ff0000;

  defs {
    .neutral > path { fill: $border-color; }
    .source > path { fill: $source-color; }
    .target > path { fill: $target-color; }
  }
  g.association, g.generalization {
    > path {
      fill-opacity: 0;
      stroke: $border-color;
      stroke-width: 1;
    }
    &.over > path {
      stroke-width: 1.5;
    }
    &.source > path {
      stroke: $source-color;
    }
    &.target > path {
      stroke: $target-color;
    }
    > text {
      background: white;
    }
  }

  g.generalization {
    > path {
      stroke-dasharray: 5 5;
    }
  }
}
