:host {
  padding-left: 15px;
  display: block;
  margin-top: 15px;
}
:host[header="false"] {
  padding-left: 0;
  margin-top: 0;
}
header {
  font-weight: bold;
  font-size: 1.2em;
  color: #000;
  margin-left: -15px;
  padding: 5px 15px;
  margin-bottom: 5px;
}
