<table *ngIf="associations && associations.length">
  <thead>
    <tr>
      <th>Assosiasjon</th>
      <th>Target</th>
      <th>Relasjon</th>
      <th>Beskrivelse</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let association of associations">
      <td>{{ association.meta.rt }}</td>
      <td>
        <a *ngIf="association.targetType" href="#{{ association.targetType.xmlId }}">{{ association.targetType.name }}</a>
        <span *ngIf="!association.targetType">{{ association.meta.ea_targetName }}</span>
      </td>
      <td>{{ association.meta.rb }}</td>
      <td><i></i></td>
    </tr>
  </tbody>
</table>
