<table *ngIf="associations && associations.length">
  <thead>
    <tr>
      <th>Assosiasjon</th>
      <th>Target</th>
      <th>Relasjon</th>
      <th>Beskrivelse</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let association of associations">
      <td [innerHTML]="association.meta.rt | highlight"></td>
      <td>
        <a *ngIf="association.targetType" href="#{{ association.targetType.xmlId }}" [innerHTML]="association.targetType.name | highlight"></a>
        <span *ngIf="!association.targetType" [innerHTML]="association.meta.ea_targetName | highlight"></span>
      </td>
      <td>{{ association.meta.rb }}</td>
      <td><i></i></td>
    </tr>
  </tbody>
</table>
