<section>
  <aside [class]="'legend' + (legendVisible ? ' open' : '')">
    <header (click)="legendVisible = !legendVisible">
      Tegnforklaring:
      <i [ngClass]="{'open': legendVisible}">&#x25BC;</i>
    </header>
    <div [ngClass]="{'visible': legendVisible}">
      <div class="pull-right">
        <ul class="unstyled">
          <li *ngFor="let cls of types">
            <div [className]="'box ' + cls.type">{{ cls.name }}</div>
          </li>
        </ul>
        <ul class="unstyled">
          <li *ngFor="let cls of lines">
            <div [className]="'box ' + cls.type">{{ cls.name }}</div>
          </li>
        </ul>
      </div>
      <div class="pull-right colors">
        <ul class="unstyled">
          <li *ngFor="let col of colors">
            <div [class]="'box ' + col.name.toLowerCase().replace(' ', '_')" [style]="col.fill" (mouseenter)="findHull(col.name)" (mouseleave)="clearHull()">{{ col.name }}</div>
          </li>
        </ul>
      </div>
    </div>
  </aside>
  <div #container class="container"></div>
</section>
