@import "../../../variables";

::host section {
  display: block;
  width: 100%;
  padding: 15px;
  height: calc(100vh - $navbar-height);
  .container {
    width: 100%;
    height: 100%;
  }
}

.legend {
  position: absolute;
  top: -1px;
  right: 0;
  font-size: 0.8rem;
  border: 1px solid #c4c4c4;
  border-radius: 0 0 9px 10px;
  box-shadow: 0px 10px 11px -9px rgba(0, 0, 0, 0.3);
  background: rgba(255, 255, 255, 0.5);
  border-top: 0;
  z-index: 1050;
  transition: background 0.15s ease-in-out, box-shadow 0.2s ease-in-out;
  &:hover {
    background: white;
  }
  &.open {
    box-shadow: 0px 10px 17px -6px rgba(0, 0, 0, 0.3);
  }
  header {
    display: block;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    padding-right: 0.5rem;
    text-align: center;
    cursor: pointer;
    > i {
      transition: transform 0.2s ease-in-out;
      transform: rotate(0);
      display: inline-block;
      &.open {
        transform: rotate(-90deg);
      }
    }
  }
  > div {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    display: grid;
    &.visible {
      max-height: 1000px;
    }
  }
  ul {
    display: block;
    border: 1px solid darken($border-color, 10%);
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 0 4px rgba(0,0,0,0.35) inset;
    background: rgba(0,0,0,0.11);
    li {
      text-align: center;
    }
  }
  .colors .box {
    &:hover, &.spotlight {
      border: 1px solid black;
      box-shadow: 0 0 4px black;
    }
  }
  .box {
    min-width: 30px;
    height: 25px;
    margin: 2px;
    padding: 0.25rem 0.7rem;
    border: 1px solid $border-color;
    border-radius: 4px;

    // Box types
    &.class {
      background-color: $class-color;
    }
    &.abstract {
      background-color: white;
    }
    &.datatype {
      background-color: $datatype-color;
    }
    &.enumeration {
      background-color: $enumeration-color;
    }
    &.codelist {
      background-color: $codelist-color;
    }
    &.mainclass {
      background-color: $table-color;
      font-weight: bold;
      border-color: darken($border-color, 30%);
    }

    // Line types
    &.generalization, &.association {
      border: 0;
      background: transparent;
      border-bottom-width: 2px;
      border-radius: 0;
    }
    &.generalization {
      border-bottom-style: dashed;
    }
    &.association {
      border-bottom-style: solid;
    }
    &.target {
      border-color: red;
    }
    &.source {
      border-color: green;
    }
  }
}
