<section>
  <aside [class]="'legend' + (legendVisible ? ' open' : '')">
    <header (click)="legendVisible = !legendVisible">
      Tegnforklaring:
      <fint-fa [name]="legendVisible ? 'caret-down' : 'caret-right'"></fint-fa>
    </header>
    <div [ngClass]="{'visible': legendVisible}">

      <div class="pull-right">
        <ul class="unstyled">
          <li *ngFor="let cls of types">
            <div [className]="'box ' + cls.type">{{ cls.name }}</div>
          </li>
        </ul>
        <ul class="unstyled">
          <li *ngFor="let cls of lines">
            <div [className]="'box ' + cls.type">{{ cls.name }}</div>
          </li>
        </ul>
        <label [ngClass]="{'stick': isSticky, 'pull-right': true, 'pin': true}">
          Sticky model
          <input type="checkbox" name="isSticky" [(ngModel)]="isSticky">
          <fint-fa name="thumb-tack"></fint-fa>
        </label>
      </div>

      <div class="pull-right colors">
        <ul class="unstyled">
          <li>
            <div class="box unstyled">
              <label>
                <input type="checkbox" name="clearAll" [(ngModel)]="allActive">
                Alle pakker
              </label>
            </div>
          </li>
          <li *ngFor="let type of legend">
            <div [class]="'box ' + type.xmiId" [style]="type.fill" (mouseenter)="findHull(type.xmiId)" (mouseleave)="clearHull()">
              <label>
                <input type="checkbox" name="activePacakge" [(ngModel)]="type.active">
                {{ type.name }}
              </label>
            </div>
            <ul class="unstyled" *ngIf="type.colors">
              <li *ngFor="let col of type.colors">
                <div [class]="'box ' + col.xmiId" [style]="col.fill" (mouseenter)="findHull(col.xmiId)" (mouseleave)="clearHull()">
                  <label>
                    <input type="checkbox" name="activePacakge" [(ngModel)]="col.active">
                    {{ col.name }}
                  </label>
                </div>
              </li>
            </ul>
          </li>
        </ul>
      </div>

    </div>
  </aside>
  <div #container class="container"></div>
</section>
