@import "../../../variables";

::host section {
  display: block;
  width: 100%;
  padding: 15px;
  height: calc(100vh - $navbar-height);
  .container {
    width: 100%;
    height: 100%;
  }
}

.legend {
  overflow: auto;
  position: absolute;
  top: -1px;
  bottom: 0;
  right: 0;
  font-size: 0.8rem;
  border: 1px solid #c4c4c4;
  border-radius: 0;
  box-shadow: 0px 10px 11px -9px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, rgba($navbar-color, 1) 0, rgba($navbar-color, 0.5) 30px);
  border-top: 0;
  z-index: 1050;
  transition: background 0.15s ease-in-out, box-shadow 0.2s ease-in-out;
  &:hover {
    background: linear-gradient(to bottom, rgba($navbar-color, 1) 0, rgba($navbar-color, 1) 100%);
  }
  &.open {
    box-shadow: 0px 10px 17px -6px rgba(0, 0, 0, 0.3);
  }
  header {
    display: block;
    padding-right: 0.5rem;
    text-align: center;
    cursor: pointer;
    padding-top: 0.9rem;
    padding-bottom: 0.9rem;
    > i {
      transition: transform 0.2s ease-in-out;
      transform: rotate(0);
      display: inline-block;
      &.open {
        transform: rotate(-90deg);
      }
    }
  }
  .pin {
    text-align: right;
    display: block;
    fint-fa {
      display: inline-block;
      transition: transform 0.2s ease-in-out;
      transform: rotate(-90deg);
    }
    &.stick {
      fint-fa {
        transform: rotate(0);
      }
    }
  }
  > div {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-in-out;
    &.visible {
      max-height: 1000px;
    }
  }
  ul {
    display: block;
    border: 1px solid darken($border-color, 10%);
    border-radius: 4px;
    padding: 5px;
    margin: 5px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.35) inset;
    background: rgba(white,0.6);
    li {
      text-align: left;
      text-indent: 0.5rem;
      ul {
        border: 0;
        box-shadow: none;
        background: transparent;
        padding: 0;
        margin-left: 10px;
        margin-top: 0;
        margin-right: 0;
      }
    }
  }
  .colors .box {
    &:hover, &.spotlight {
      border: 1px solid black;
      box-shadow: 0 0 4px black;
    }
    label {
      display: block;
    }
    input {
      float: left;
    }
  }
  .box {
    min-width: 30px;
    height: 25px;
    margin: 2px;
    padding: 0.25rem 0.7rem;
    border: 1px solid $border-color;
    border-radius: 4px;

    // Box types
    &.class {
      background-color: $class-color;
    }
    &.abstract {
      background-color: white;
    }
    &.datatype {
      background-color: $datatype-color;
    }
    &.enumeration {
      background-color: $enumeration-color;
    }
    &.codelist {
      background-color: $codelist-color;
    }
    &.mainclass {
      background-color: $table-color;
      font-weight: bold;
      border-color: darken($border-color, 30%);
      box-shadow: 0 1px 3px black;
    }
    &.unstyled {
      border: 1px solid transparent;
      padding: 0.25rem 0rem;
      &:hover {
        border: 1px solid transparent !important;
        box-shadow: none !important;
      }
    }

    // Line types
    &.generalization, &.association {
      border: 0;
      background: transparent;
      border-bottom-width: 2px;
      border-radius: 0;
    }
    &.generalization {
      border-bottom-style: dashed;
    }
    &.association {
      border-bottom-style: solid;
    }
    &.target {
      border-color: red;
    }
    &.source {
      border-color: green;
    }
  }
}
