<header>
  <h3 class="anchor" id="{{ classification.xmlId }}">
    <app-fa [name]="classType"></app-fa>
    {{ classification.name }}
    <small>{{ classification.type }}</small>
  </h3>
</header>

<p><i>{{ classification.meta.documentation }}</i></p>

<table *ngIf="classification.attributes">
  <thead>
    <tr>
      <th>Felt</th>
      <th>Type</th>
      <th>Beskrivelse</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let attribute of classification.attributes">
      <td>{{ attribute.name }}</td>
      <td>
        <a *ngIf="attribute.sourceType" href="#{{ attribute.classRef }}">{{ attribute.meta.type }}</a>
        <span *ngIf="!attribute.sourceType">{{ attribute.meta.type }}</span>
      </td>
      <td><i>{{ attribute.meta.description }}</i></td>
    </tr>
  </tbody>
</table>

<div *ngIf="!classification.attributes">
  <b>Felt</b>: <i>Ingen</i>
</div>

<app-association [associations]="assoc"></app-association>
